/* Voor het in het midden krijgen van de form, gevonden door stackoverflow */
html {
    min-height:  100%;
    display: grid;
}


body {
   margin: auto;
   text-align: center;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: rgb(0, 0, 0);
   background-color: rgb(152, 255, 156);
}

p {
    font-size: small;
    color:rgb(0, 0, 0)
}

form {
    width: 400px;
    margin: 10px;
}

input {
   display: block;
    padding: 4px 10px;
    font-size: 1em;
    margin: 10px auto;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid #ccc;
    outline: none !important;
}

/* was niet van plan, maar heb de form een mooie background gegeven */
.formbackground{
   background-color: rgb(255, 255, 255);
   padding: 40px;
   margin: 30px;
   border-radius: 40px;
   box-shadow: 5px 10px;
}



/* validatie styles */

input.valid{
    border-color: green;
}

input.invalid{
    border-color: red;
}