/* Voor het in het midden krijgen van de form, gevonden door stackoverflow */
html {
    min-height:  100%;
    display: grid;
}


body {
   margin: auto;
   text-align: center;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: rgb(255, 255, 255);
   background-color: rgb(43, 6, 75);
}

p {
    font-size: small;
    color:rgb(255, 255, 255)
}

form {
    width: 400px;
    margin: 10px;
}

input {
   display: block;
    padding: 4px 10px;
    font-size: 1em;
    margin: 10px auto;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid #ccc;
    outline: none !important;
}

.headertext {
    font-weight: bold;
}